textarea {
	width: 400px;
	height: 400px;
}
.readme {
	width: 400px;
	padding: 0px 0px;
	text-align: left;
}
#buttonText {
	position: relative;
}
#annotation {
	font-style: italic;
	position: absolute;
	padding: 0px 5px;
}
#checkLink {

}
.checkbox {
	width: 400px;
	text-align: left;
}